<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskHub: Add Group</title>
</head>
<body>
    <h1>Group Details</h1>
    <form action="../GroupDetails/" method="POST">
        {%csrf_token%}
        <input type="text" name="username" value= '{{ user.username }}' style="display:none;">
        <input type="text" placeholder="Group Name" name="groupname">
        <br>
        <input type="text" placeholder="Group Description" name="groupd">
        <br>
        <button id="add_group" name="add_group" type="submit">Create</button>
    </form>
    <form action="../GroupDetails/" method="POST">
        {%csrf_token%}
        <input type="text" name="username" value= '{{ user.username }}' style="display:none;">
        <input type="text" name="groupd" value= '{{ groupd}}' style="display:none;">
        <input type="text" name="groupname" value= '{{groupname}}' style="display:none;">

        <input type="text" placeholder="Add username" name="membername">
        <br>
        <button id="add" name="add" type="submit">Add User</button>
        <button id="continue" name="continue" type="submit">Continue</button>
    </form>
</body>
</html>