{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'group.css' %}">
    <title>TaskHub</title>
</head>
<body>
    <div class="header">
        <img src="https://cdn.jim-nielsen.com/ios/512/task-2013-06-27.png" class="logo">
        <a href="" class="heading">TaskHub</a>
        <nav>
            <!-- <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Community</a></li>
                <li><a href="">Contact</a></li>
            </ul> -->
        </nav>
        <a href="../login"><button class="btn" id="btn1">Profile</button></a>
        <a href="../signup"><button class="btn" id="btn2">Logout</button></a>
    </div>
        <div class="container">
            <div class="row1">
                <div class="col-sm-3">
                    {% for x in groups %}
                    <form action="../GroupDisplay/" method="POST">
                        {%csrf_token%}
                        <div class="card 1" onClick="javascript:this.parentNode.submit();">
                            <div class="card_image"> 
                                <img src="https://i.redd.it/b3esnz5ra34y.jpg"> 
                            </div>
                            <div class="card_title title-white">
                                <p>{{x.groupname}}</p>
                            </div>
                            <div class="row-text">
                                <p>{{x.groupdescription}}</p>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <div class = "row" >12</div>
                                    <div class ="row">Tasks</div>
                                </div>
                                <div class="column">
                                    <div class = "row">2</div>
                                    <div class ="row" >Pending</div>
                                </div>
                                <div class="column2">
                                    <div class=" circle-wrap">
                                        <div class="circle">
                                            <div class="mask full">
                                                <div class="fill">

                                                </div>
                                            </div>
                                            <div class="mask half">
                                                <div class="fill">

                                                </div>
                                            </div>
                                            <div class="inside-circle">
                                                83%
                                            </div>
                                        </div>         
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="text" name="groupid" value= '{{ x.id }}' style="display:none; height: 0; width: 0;margin: 0;padding: 0;">
                    </form>
                    {% if forloop.counter|divisibleby:4 %}
                </div>   
            </div>
            <div class="row1">
                <div class="col-sm-3">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    <form action="../AddGroup/" method="POST">
        {%csrf_token%}
        <input type="text" name="username" value= '{{ user.username }}' style="display:none;">
        <button type="submit">
            Add Group
        </button>
    </form>
</body>
</html>