{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'landing.css' %}">
    <title>Landing Page Design Using HTML & CSS</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="https://i.redd.it/b3esnz5ra34y.jpg" class="logo">
            <nav>
                <!-- <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Products</a></li>
                    <li><a href="">Community</a></li>
                    <li><a href="">Contact</a></li>
                </ul> -->
            </nav>
            <a href="../login"><button class="btn" id="btn1">Log In</button></a>
            <a href="../signup"><button class="btn" id="btn2">Sign Up</button></a>
        </div>
        <div class="content">
            <div class="text">
            <h1><span>TaskHub</span></h1>
            <p>Is it difficult to keep a track of the progress of your team members in a group project? Well, not anymore.</p>
        <p>Leave it to us. Collaborate and build :)</p>
            <!-- <button class="btn3">Buy Now</button> -->
           </div>
        <div class="pepsi">
        <img src="https://cdn.jim-nielsen.com/ios/512/task-2013-06-27.png" alt="">
        </div>
       </div>
   </div>
</body>
</html>