<!-- {% load static %}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'owner.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css" integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51" crossorigin="anonymous">
</head> 
<body>
    <div class="header">
        <img src="https://cdn.jim-nielsen.com/ios/512/task-2013-06-27.png" class="logo">
        <a href="" class="heading">TaskHub</a>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Community</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
        <a href="#"><button class="btn" id="btn1">Profile</button></a>
        <a href="../logout"><button class="btn" id="btn2">Logout</button></a>
    </div>
    <div class="student-profile py-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="card shadow-sm">
                        <div class="card-header bg-transparent border-0">
                            <div class="container1 ">
                            
                                <h3>Todo</h3>
                                <ul id="incomplete-tasks">
                                    <li><input type="checkbox"><label>Pay Bills fast fast or else I'll sue you now comeon jaldi arey keeo bhai kya kamchori laga rahi h</label>
                                    <li><input type="checkbox"><label>Go Shopping</label></li>
                                </ul>
                        
                            </div>
                        </div>
                    
                    </div>
                    
                </div>
                <div class="col-lg-4">
                    <div class="card shadow-sm">
                        <div class="card-header bg-transparent border-0">
                            <div class="container1 ">
                            
                                <h3>Completed</h3>
                                <ul id="completed-tasks">
                                    <li><input type="checkbox" checked><label>See the Doctor</label></li>
                                </ul>
                        
                            </div>
                        </div>
                    
                    </div>
                    
                </div>
            </div>
            <button>Add Task</button>
        </div>
    </div>
</body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'group.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css" integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51" crossorigin="anonymous">
    <title>TaskHub</title>
    <style>
        * {
          box-sizing: border-box;
        }
        
        body {
          font-family: Arial, Helvetica, sans-serif;
        }
    .container{
        align-items: center;
        width: 100%;
    }
        
        /* Float four columns side by side */
        .column {
          float: left;
          width: 25%;
          padding: 0 10px;
        }
        
        /* Remove extra left and right margins, due to padding */
        .row {
            margin-left: 20%;
            margin-right: -20%;
        }
        
        /* Clear floats after the columns */
        .row:after {
          content: "";
          display: table;
          clear: both;
        }
        
        /* Responsive columns */
        @media screen and (max-width: 600px) {
          .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
          }
        }
        
        /* Style the counter cards */
        .card {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          padding: 16px;
          text-align: center;
          background-color: #f1f1f1;
        }
        </style>
</head>
<body>
    <div class="header">
        <img src="https://cdn.jim-nielsen.com/ios/512/task-2013-06-27.png" class="logo">
        <a href="" class="heading">TaskHub</a>
        <nav>
            <!-- <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">Community</a></li>
                <li><a href="">Contact</a></li>
            </ul> -->
        </nav>
        <a href="#"><button class="btn" id="btn1">Profile</button></a>
        <form action="../TaskAdd/" method="POST">
            {%csrf_token%}
            <button type="submit" id="btn1">
                Add Task
            </button>
        </form>
        <a href="../logout"><button class="btn" id="btn2">Logout</button></a>
    </div>
    <!-- <div class="col-lg-8">
        <div class="container1 ">
            <h3>Todo</h3>
            <ul id="incomplete-tasks">
                {% for x in pending %}
                <li><label>{{x.taskname}}</label></li>
                {% endfor %}
            </ul>
    
        </div>
    </div>
    <div class="col-lg-8">
        <div class="container1 ">
            <h3>Completed</h3>
            <ul id="completed-tasks">
                {% for x in completed %}
                <li><input type="checkbox" checked><label>{{x.taskname}}</label></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <form action="../TaskAdd/" method="POST">
        {%csrf_token%}
        <button type="submit">
            Add Task
        </button>
    </form>
    <form action="../DeleteGroup/" method="POST">
        {%csrf_token%}
        <button type="submit">
            Delete
        </button>
    </form> -->
    <!-- <div class="student-profile py-4">
        <div class="container">
            <div class="row">
     
                <div class="col-lg-8">
                    <div class="card shadow-sm">
                        <div class="card-header bg-transparent border-0">
                            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Tasks:</h3>
                        </div>
                    
                        <div class="row1">
                            <div class="col-lg-8">
                                <div class="container1 ">
                            
                                    <h3>Todo</h3>
                                    <ul id="incomplete-tasks">
                                        {% for x in pending %}
                                        <li><label>{{x.taskname}}</label></li>
                                        {% endfor %}
                                    </ul>
                            
                                </div>
                            </div>
                            </div>
                            <div class="row1"></div>
                            <div class="col-lg-8">
                                <div class="container1 ">
                                
                                
                                    <h3>Completed</h3>
                                    <ul id="completed-tasks">
                                        {% for x in completed %}
                                        <li><label>{{x.taskname}}</label></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                            
                        </div>
                    
                    </div>
                    
                </div>
            </div>
        </div>
    </div> -->
<div class="container">
<div class="row">
  <div class="column">
    <div class="card">
      <h3>Incomplete</h3>
      <ul id="incomplete-tasks">
        {% for x in pending %}
        <li><label>{{x.taskname}} ->{{x.assignedto}}</label></li>
        {% endfor %}
    </ul>
      
    </div>
  </div>

  <div class="column">
    <div class="card">
      <h3>Complete</h3>
      <ul id="completed-tasks">
        {% for x in completed %}
        <li><label>{{x.taskname}}-> {{x.assignedto}}</label></li>
        {% endfor %}
    </ul>
    </div>
  </div>
</div>


</div>

</body>
</html>