<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="../TaskAdded/" method="POST" name="add">
        {%csrf_token%}
        <input type="text" name="taskname" placeholder="Task Name">
        <input type="text" name="taskdescription" placeholder="Task Description">
        <input type="text" name="points" placeholder="Points">
        <input type="text" name="assignedto" placeholder="Assign to">
        <button type="submit">
            Add Task
        </button>
    </form>
    <form action="../TaskDone/" method="POST" name="continue">
        {%csrf_token%}
         <input type="text" name="taskname" placeholder="Task Name">
        <button type="submit">
            Finish
        </button>
    </form>
</body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login Page in HTML with CSS Code Example</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'groupdetails.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="header">
    <img src="https://cdn.jim-nielsen.com/ios/512/task-2013-06-27.png" class="logo">
    <a href="" class="heading">TaskHub</a>
    <nav>
        <!-- <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Products</a></li>
            <li><a href="">Community</a></li>
            <li><a href="">Contact</a></li>
        </ul> -->
    </nav>
    <a href="../login"><button class="btn" id="btn1">Profile</button></a>
    <a href="../signup"><button class="btn" id="btn2">Logout</button></a>
    </div>
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>TaskHub</h1>
		<p>Is it difficult to keep a track of the progress of your team members in a group project? Well, not anymore.</p>
        <p>Leave it to us. Collaborate and build :)</p>
		</div>
	</div>
	
	<div class="right" id="login">
		<h1>Create Task</h1>
		<p>Enter task name, username and it's description.</p>
		<form class="InputContainer" action ="../TaskAdded/" method="post" >
			{% csrf_token %}
		<div class="inputs">
			<input type="text" name="taskname" placeholder="Task Name">
			<br>
            <input type="text" name="taskdescription" placeholder="Task Description">
			<br>
            <input type="text" name="points" placeholder="Points">
            <br>
            <input type="text" name="assignedto" placeholder="Assign to">
            <br>
            <button type="submit" name="add_task" style="margin-top: 20px; margin-right: 20px;">
                Add Task
            </button>
            <!-- <button id="add_group" name="add_group" type="submit" style="margin-top: 20px;">Create</button> -->
            <form action="../TaskDone/" method="POST" >
                {%csrf_token%}
                 <!-- <input type="text" name="taskname" placeholder="Task Name"> -->
                <button type="submit" name="continue">
                    Finish
                </button>
            </form>
		</div>
			<!-- <br><br>
		<div class="remember-me--forget-password">
				
			<a type="submit"><button>Signup</button></a>
            
	</div> -->
</form>
</div>
<!-- partial -->
  
</body>
</html>
