<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskHub: Add Group</title>
</head>
<body>
    <h1>Group Details</h1>
    <form action="../UserAdd/" method="POST">
        {%csrf_token%}
        <input type="text" name="username" value= '{{ username }}' style="display:none;">
        <input type="number" name="groupid" value= '{{ groupid}}' style="display:none;">

        <input type="text" placeholder="Add username" name="membername">
        <br>
        <button id="add" name="add" type="submit">Add User</button>
        <button id="continue" name="continue" type="submit">Continue</button>
    </form>
</body>
</html>